* {
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
}

ul {
  list-style: none;
}

.header {
  /*display: flex;
  padding: 20px 0 20px 0; /*헤더 자체 테두리*/
  border-bottom: 3px solid #0042fe;
  position: fixed;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
  /*justify-content: space-between;*/
}

.footer {
  position: fixed;
  height: 120px;
}
/*.header strong {
  margin: 0px 20px 0 0;
}*/

.header ul {
  display: flex;
}
.Notice ul {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.Notice ul li {
  width: 180px;
  text-align: center;
}

.header ul li {
  margin: 0 15px 0 0;
  padding-left: 50px;
  padding-right: 50px;
}

.header ul li:last-child {
  margin: 0;
}

.App {
  text-align: center;
}

.body {
  margin-top: 150px;
}
.main {
  background-color: #0042fe;
  color: white;
  font-size: 4rem;
}

.find,
.free,
.mypage,
.review,
.footer,
.error {
  margin: 30px 0;
  text-align: center;
}
